<div class="container">
  <div class="jumbotron content-box">
    <h2>Emma & Tobit's Wedding</h2>
    <h3>13th May 2017</h3>
    <p>
    <p style="text-align:center">
      You're invited to celebrate our wedding in South East London, our home for the past few years.  We'll be starting the day with our ceremony at <%= link_to "The Asylum", ceremony_index_path %> in Peckham, followed by dinner, drinks and dancing at <%= link_to "The Rosendale", reception_index_path %> in West Dulwich.  We can't wait to see you there!
    </p>
  </div>
</div>
