<h3>Other Information</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-12">
        <h4>Wedding gifts</h4>
        Having our closest friends and family at our wedding is the greatest gift we could ask for, so we don't expect our guests to give us presents.  If you would really like to give us something, we'd love a plank of wood...!
        <br>
        <br>
        Having lived together for several years we already have everything we need for our home.  We would love to fix our tired old floors however, so contributions towards our floor fund would be gratefully received.  We'll provide details about how to do this closer to the time.
        <p>
        <h4>Pre ceremony venues</h4>
        For those who'd like to have a tipple beforehand near to the wedding venue, we'd recommend <%= link_to "Beer Rebellion", "http://www.timeout.com/london/bars-and-pubs/beer-rebellion-2" %> which is a few doors down from Queens Road Peckham station.  Alternatively you could try <%= link_to "The Telegraph at The Earl of Derby", "https://www.facebook.com/e.ofderby/" %>, which is a slightly further walk away.
        <br>
        <br>
        There are plenty of places in Peckham to have lunch if you're looking to line your stomach.  We'd recommend these places:
        <ul>
          <li><%= link_to "Mamma Dough", "http://www.mammadough.co.uk/" %></li>
          <li><%= link_to "The Rye", "http://www.theryepeckham.com/" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
