<h3>Accommodation</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-12">
        <h4>Hotels</h4>
        There isn't a great number of hotels in the immediate vicinity of the venues, though there are plenty in central London.  However these hotels are a short cab ride away from the reception venue:
        <ul>
          <li><a href="https://www.tulsehillhotel.com/">Tulse Hill Hotel</a>, Tulse Hill</li>
          <li><a href="http://churchstreethotel.com/">Church Street Hotel</a>, Camberwell</li>
        </ul>
        <p>
        <h4>Home rentals</h4>
        There are plenty of house and flat rental options in Dulwich, Peckham and the surrounding areas via <a href="https://www.airbnb.co.uk/c/ebeynon1?s=8">Airbnb</a>.
        If you've not used it before, you can get £20 off your first booking by following this <a href="https://www.airbnb.co.uk/c/ebeynon1?s=8">link</a> (we'll get £20 too, hurrah!).
      </div>
    </div>
  </div>
</div>
