<h1>Accommodation</h1>

<h3>Hotels</h3>
There isn't a great number of hotels in the immediate vicinity of the venues, though there are plenty in central London.  These hotels are a short cab ride away from the reception venue:
<br>
<a href="https://www.tulsehillhotel.com/">Tulse Hill Hotel</a>, Tulse Hill
<br>
<a href="http://churchstreethotel.com/">Church Street Hotel</a>, Camberwell
<h3>Home rentals</h3>
There are plenty of house and flat rental options in Dulwich, Peckham and the surrounding areas via <a href="https://www.airbnb.co.uk/c/ebeynon1?s=8">Airbnb</a>.
<br>
If you've not used it before, you can get £20 off your first booking by following this <a href="https://www.airbnb.co.uk/c/ebeynon1?s=8">link</a> (we'll get £20 too, hurrah!).
