<h1>The Reception</h1>

<h3>The Venue</h3>
<p>
  The East Dulwich Tavern
  <br>1 Lordship Lane
  <br>East Dulwich
  <br>London
  <br>SE22 8EW
</p>

<div style='width: 400px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>

<script>createMap([{"lat":51.461024, "lng":-0.075087}]);</script>

<h3>Transport</h3>
We will be providing transport from the ceremony venue to the reception, however here are the options should you choose not to use it (or you get lost).
<p>
<strong>By Train</strong> The closest train station is East Dulwich, which is served by National Rail services from London Bridge.
<br>
<strong>By Car</strong> There are no car parks near by, so you might have to chance it with street parking.
<br>
<strong>By Taxi</strong> If you've not used Uber before, <a href="https://www.uber.com/cities/london/">download</a> the app and use code emmab120 to get £10 off your first ride.
