<h3>The Reception</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-6">
        <h4>The Venue</h4>
          The Rosendale
          <br>65 Rosendale Road
          <br>West Dulwich
          <br>London
          <br>SE21 8EZ
      </div>
      <div class="col-md-6">
        <div id="map" style='width: 250px; height: 200px;'></div>
        <script>createMap([{"lat":51.4357535, "lng":-0.0941361}]);</script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-justify">
        <h4>The Plan</h4>
        6pm - Dinner
        <br>
        8pm - Dancing
        <br>
        1am - Closing time
      </div>
    </div>
    <p>
    <div class="row">
      <div class="col-md-12 text-justify">
        <h4>Transport</h4>
        We will be providing transport from the ceremony venue to the reception.
        Here are the options should you choose not to use it (or if you get lost).
        <ul>
          <li>
            <strong>By Train</strong> The venue is within walking distance of Tulse Hill station, which is served by National Rail services from London Bridge and Blackfriars, and West Dulwich station, which is served by National Rail services from Victoria.
          </li>
          <li>
            <strong>By Car</strong> The venue does not have a car park, but does offer 20% off booking a nearby parking space via <%= link_to "JustPark", "https://www.justpark.com/uk/parking/london/?coords=51.435758,-0.094172" %> using discount code THEROSENDALE20.
          </li>
          <li>
            <strong>By Taxi</strong> If you've not used Uber before, <%= link_to "download", "https://www.uber.com/cities/london/" %> the app and use code emmab120 to get £10 off your first ride.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
