<h3>The Reception</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-6">
        <h4>The Venue</h4>
          The East Dulwich Tavern
          <br>1 Lordship Lane
          <br>East Dulwich
          <br>London
          <br>SE22 8EW
      </div>
      <div class="col-md-6">
        <div id="map" style='width: 250px; height: 200px;'></div>
        <script>createMap([{"lat":51.461024, "lng":-0.075087}]);</script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-justify">
        <h4>Details</h4>
        6pm - Dinner
        <br>
        8pm - Dancing
      </div>
    </div>
    <p>
    <div class="row">
      <div class="col-md-12 text-justify">
        <h4>Transport</h4>
        We will be providing transport from the ceremony venue to the reception.
        Here are the options should you choose not to use it (or if you get lost).
        <ul>
          <li>
            <strong>By Train</strong> The closest train station is East Dulwich, which is served by National Rail services from London Bridge.
          </li>
          <li>
            <strong>By Car</strong> There are no car parks near by, so you might have to chance it with street parking.
          </li>
          <li>
            <strong>By Taxi</strong> If you've not used Uber before, <a href="https://www.uber.com/cities/london/">download</a> the app and use code emmab120 to get £10 off your first ride.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
