<h1>The Reception</h1>

<h3>The Venue</h3>
<p>
  The East Dulwich Tavern
  <br>1 Lordship Lane
  <br>East Dulwich
  <br>London
  <br>SE22 8EW
</p>

<div style='width: 400px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>

<script>createMap([{"lat":51.461024, "lng":-0.075087}]);</script>
