<h3>The Ceremony</h3>
<div class="container">
  <div class="jumbotron content-box">
    <div class="row">
      <div class="col-md-6">
        <h4>The Venue</h4>
        The Asylum Chapel
          <br>Caroline Gardens
          <br>Peckham
          <br>London
          <br>SE15 2SQ
      </div>
      <div class="col-md-6">
        <div id="map" style='width: 250px; height: 200px;'></div>
        <script>createMap([{"lat":51.479258, "lng":-0.060821}]);</script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-justify">
        <h4>Details</h4>
        Arrive at 3.45pm for a 4pm start.
        <br>
        The ceremony will be followed by a drinks reception.
      </div>
    </div>
    <p>
    <div class="row">
      <div class="col-md-12 text-justify">
        <h4>Transport</h4>
        <ul>
          <li>
            <strong>By Train</strong> The closest train station is Queens Road Peckham,
            which is served by London Overground and National Rail services from London Bridge.
          </li>
          <li>
            <strong>By Car</strong> There is free parking on Asylum Road, or in the Toys’R’Us car park on Old Kent Road for a small fee.
          </li>
          <li>
            <strong>By Taxi</strong> If you've not used Uber before, <a href="https://www.uber.com/cities/london/">download</a> the app and use code emmab120 to get £10 off your first ride.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
