<h1>The Ceremony</h1>

Arrive at 3.45pm for a 4pm start.

<h3>The Venue</h3>
<p>The Asylum Chapel
  <br>Caroline Gardens
  <br>Peckham
  <br>London
  <br>SE15 2SQ
</p>

<div style='width: 400px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>

<script>createMap([{"lat":51.479258, "lng":-0.060821}]);</script>

<h3>Transport</h3>
<strong>By Train</strong> The closest train station is Queens Road Peckham, which is served by London Overground and National Rail services from London Bridge.
<br>
<strong>By Car</strong> There is free parking on Asylum Road, or in the Toys’R’Us car park on Old Kent Road for a small fee.
<br>
<strong>By Taxi</strong> If you've not used Uber before, <a href="https://www.uber.com/cities/london/">download</a> the app and use code emmab120 to get £10 off your first ride.
