<h1>The Ceremony</h1>
<h3>The Venue</h3>
<p>The Asylum Chapel,
  <br>Caroline Gardens,
  <br>Peckham,
  <br>London,
  <br>SE15 2SQ
</p>

<div style='width: 400px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>

<script>createMap([{"lat":51.479258, "lng":-0.060821}]);</script>
